* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  justify-content: center;      
  align-items: center;          
  gap: 20px;                       
  margin-top: 3%;    
}

.food-btn, .intake-btn, .weights-btn, .account-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border-radius: 2rem;
  border: 2px solid #333;
  text-decoration: none;
}

/* search button in food/recipe */
.search-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5%;
}

.search-content, .submit-button, .qr-btn {
  border-radius: 2rem;
  background-color: none;
  font-size: 16px;
}

.search-content {
  padding: 15px 50px;
}

.submit-button, .qr-btn {
  padding: 15px 30px;
}

/* Intake */
.intake-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  text-align: center;
  padding: 5%;
}

.daily-order-list, .weekly-order-list {
  padding: 5%;
}

.daily-order-list option, .weekly-order-list option {
 padding: 3%;
}


/* weights */
.weight-container {
  display: flex;
  justify-content: center;      
  align-items: center;          
  gap: 40px;                       
  margin-top: 3%;  
}

.weight-container a {
  border-radius: 2rem;
  font-size: 16px;
  background-color: gray;
  padding: 15px 30px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
}

.weight-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
}
.weight-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}
.muscle-container {
  text-align: center;
  justify-content: center;
}
.muscle-container h3 {
  margin-bottom: 5%;
  font-size: 32px;
}
.muscle-container h2 {
  margin-top: 5%;
}
.muscle-container button {
  margin-top: 5%;
}
.gif-results {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  display: block;
}

/* Popup styles */
.add-btn {
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 40%;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  color: #333;
  visibility: hidden;
}

.open-Popup {
  visibility: visible;
}

.routine-options {
  padding: 5px;
  margin-top: 5%;
}

.close-btn {
  width: 20%;
  padding: 4%;
  background: #fff;
  border-radius: 6px;
  text-align: center;
}



/* Food */
.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  padding: 20px;
  justify-items: center;
}


.result-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.result-name {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.img-results {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 800px;
  width: 100%;
}

.img-results img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.macro-container h2 {
  margin: 0;
}

.macro-container h3 {
  margin-top: 10px;
}


.day-selector-title {
  margin-top: 15%;
}

.selector-options {
  margin-top: 15%;
}


.add-day {
  margin-top: 50%;
  width: 90%;
  background-color: gray;
  border-radius: 4px;
}

.get-recipe {
  margin-top: 30%;
  width: 90%;
  background-color: gray;
  border-radius: 4px;
  
}