* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: center;      
    align-items: center;          
    gap: 20px;                       
    margin-top: 3%;    
}

.food-btn, .intake-btn, .weights-btn, .account-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border-radius: 2rem;
    border: 2px solid #333;
    text-decoration: none;
}

/* weights */
.weight-container {
  display: flex;
  justify-content: center;      
  align-items: center;          
  gap: 40px;                       
  margin-top: 3%;  
}

.weight-container a {
  border-radius: 2rem;
  font-size: 16px;
  background-color: gray;
  padding: 15px 30px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
}

.weight-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.weight-results {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  padding: 20px;
  justify-items: center;
}
